// Typography helpers
// ------------------------------------

$helper-header-sizes: (
  small: (
    'h1': 24,
    'h2': 20,
    'h3': 19,
    'h4': 18,
    'h5': 17,
    'h6': 16,
  ),
  medium: (
    'h1': 48,
    'h2': 40,
    'h3': 31,
    'h4': 25,
    'h5': 20,
    'h6': 16,
  ),
);

@each $size, $headers in $helper-header-sizes {
  @include breakpoint($size) {
    @each $header, $font-size in $headers {
      .#{$header} {
        font-size: rem-calc($font-size);
      }
    }
  }
}
